* {
    box-sizing: border-box;
}

body {
    background-color: #FCEBB6;
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(./image/background.gif);
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px black;
}

header {
    background-color: #D2B48C;
    height: 150px;
    background-image: url(./image/javajamlogo.jpg);
    background-repeat: no-repeat;
}

h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left;
    width: 200px;
}

nav ul {
    padding-left: 0;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #FEF6C2;
}

nav a:visited {
    color: #D2B48C;
}

nav a:hover {
    color: #CC9933;
}

main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom:2em;
    padding-top: 0;
    margin-left: 200px;
    background-color: #FEF6C2;
    display: block;
}

img {
    padding: 0 10px;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: uppercase;
    border-bottom: black;
    padding-bottom: 0;
    clear: left;
}

.details {
    padding: 0 20%;
    overflow: auto;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

footer {
    background-color: #D2B48C;
    font-size: .6em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: solid 2px #221811;
}

#heroroad {
    background-image: url(./image/heroroad.jpg);
    background-size: 125%;
    height: 250px;
}

#heromugs {
    background-image: url(./image/heromugs.jpg);
    background-size: 125%;
    height: 250px;
}

#heroguitar {
    background-image: url(./image/heroguitar.jpg);
    background-size: 125%;
    height: 250px;
}

main h2, main h3, main h4, main p, main div, main ul, main dl {
    padding-left: 3em;
    padding-right: 2em;
}

header, nav, main, footer {
    display: block;
}

table {
    margin: 0 auto;
    width: 90%;
    border-spacing: 0;
    background-color: #FFFFCC;
}

td, th {
    padding: 10px;
}

tr:nth-of-type(odd) {
    background-color: #D2B48E;
}

form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input, textarea {
    display: block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 9.5em;
}

#herojobs {
    height: 250px;
    background-image: url(./image/herojobs.jpg);
    background-size: 100% 100%;
}

